<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Women in Tech" %></title>
    
    <%= stylesheet_link_tag "styles" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <%= javascript_include_tag  "nv.d3.min" %>
    <script>
    var percentFormat = d3.format("d");
nv.addGraph(function() {
  var degreeChart = nv.models.pieChart()
      .x(function(d) { return d.degree })
      .y(function(d) { return d.percent })
      .tooltipContent(function (key, y, e, graph) {
        return '<h3>' + Math.round(y) + '%</h3>';
      })
      .showLabels(true)     //Display pie labels
      .showLegend(false)
      // .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
      // .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
      .color(["#edd6d8","#edc3c6","#edabb0","#ed949a","#ed7a82","#ed646f","#ed515d","#ed3543","#ed2635","#ed1525"]);

    d3.select("#degrees svg")
        .datum(degrees)
        .transition().duration(1200)
        .call(degreeChart);

  var humanChart = nv.models.pieChart()
      .x(function(d) { return d.gender })
      .y(function(d) { return d.percent })
      .tooltipContent(function (key, y, e, graph) {
          return '<h3>' + Math.round(y) + '%</h3>';
      })  
      .showLabels(true)     //Display pie labels
      .showLegend(false)
      .height(400)
      .color(["#edd6d8","#edc3c6","#edabb0","#ed949a","#ed7a82","#ed646f","#ed515d","#ed3543","#ed2635","#ed1525"]);

    d3.select("#humanSciences svg")
        .datum(humanSciences)
        .transition().duration(1200)
        .call(humanChart);

  var engineerChart = nv.models.pieChart()
      .x(function(d) { return d.gender })
      .y(function(d) { return d.percent })
      .tooltipContent(function (key, y, e, graph) {
          return '<h3>' + Math.round(y) + '%</h3>';
      })
      .showLabels(true)     //Display pie labels
      .showLegend(false)
      .height(400)
      .color(["#edd6d8","#edc3c6","#edabb0","#ed949a","#ed7a82","#ed646f","#ed515d","#ed3543","#ed2635","#ed1525"]);

    d3.select("#engineering svg")
        .datum(engineering)
        .transition().duration(1200)
        .call(engineerChart);

  var womenPerTeamChart = nv.models.discreteBarChart()
      .margin({left: 100, bottom: 75})
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.percent })
      .forceY([0,100])
      .tooltips(false)        //Don't show tooltips
      .showValues(true)     
      // .staggerLabels(true)
      .valueFormat(function(d){ return percentFormat(d) + "%"})
      .transitionDuration(0)
      .color(["#edd6d8","#edc3c6","#edabb0","#ed949a","#ed7a82","#ed646f","#ed515d","#ed3543","#ed2635","#ed1525"]);
    womenPerTeamChart.yAxis.axisLabel('Percent').tickFormat(function(d){ return percentFormat(d) + "%";});
    womenPerTeamChart.xAxis.axisLabel('Team Size').tickPadding(10);

  d3.select('#womenPerTeam svg')
      .datum(womenPerTeam())
      .call(womenPerTeamChart);
  // Manually move the x-axis label on the womenPerTeamChart 
d3.select("#womenPerTeam .nv-x.nv-axis .nv-axislabel") .attr('transform', function(){return 'translate(0, 20)'});

  var womenQuittingChart = nv.models.discreteBarChart()
      .margin({left: 100, bottom: 75})
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.percent })
      .forceY([0,100])
      .tooltips(false)        //Don't show tooltips
      .showValues(true)     
      // .staggerLabels(true)
      .valueFormat(function(d){ return percentFormat(d) + "%"})
      .transitionDuration(0)
      .color(["#edd6d8","#edc3c6","#edabb0","#ed949a","#ed7a82","#ed646f","#ed515d","#ed3543","#ed2635","#ed1525"]);
    womenQuittingChart.yAxis.axisLabel('Percent').tickFormat(function(d){ return percentFormat(d) + "%";});
    womenQuittingChart.xAxis.axisLabel('Field').tickPadding(10);

  d3.select('#womenQuitting svg')
      .datum(womenQuitting())
      .call(womenQuittingChart);
d3.select("#womenQuitting .nv-x.nv-axis .nv-axislabel") .attr('transform', function(){return 'translate(0, 20)'});

      return womenQuittingChart

});



humanSciences = [
  {
    "gender":"Men",
    "percent": 12
  },
  {
    "gender": "Women",
    "percent": 88
  }
]

engineering = [
  {
    "gender":"Men",
    "percent": 83
  },
  {
    "gender": "Women",
    "percent": 17
  }
]

degrees = [
    {
    "degree": "Business",
        "percent": 22,
        "description": "management, marketing, and personal and culis"
  },
  {
    "degree": "Social Studies",
    "percent": 10,
    "description": "social science and history"
  },
  {
    "degree": "Healthcare",
    "percent": 8,
    "description": "health professions and related programs"
  },
  {
    "degree": "Education",
    "percent": 6,
    "description": ""
  },
  {
    "degree": "Psychology",
    "percent": 6,
    "description": ""
  },
  {
    "degree": "Visual Arts",
    "percent": 6,
    "description": "performing arts"
  },
  {
    "degree": "Engineering",
    "percent": 5,
    "description": "engineering technologies"
  },
  {
    "degree": "Biology",
    "percent": 5,
    "description": "biomedical science"
  },
  {
    "degree": "Communication",
    "percent": 5,
    "description": "communications technologies"
  },
  {
    "degree": "Computers",
    "percent": 3.5,
    "description": "information sciences and support"
  },
  {
    "degree": "English",
    "percent": 3.5,
    "description": "language and literature"
  },
  {
    "degree": "Liberal Arts",
    "percent": 3,
    "description": "general studies and humanities"
  },
  {
    "degree": "Multicultural",
    "percent": 3,
    "description": "interdisciplinary studies"
  },
  {
    "degree": "Law Enforcement",
    "percent": 2,
    "description": "homeland security, firefighting and related protective services"
  },
  {
    "degree": "Agriculture",
    "percent": 2,
    "description": "natural resources"
  },
  {
    "degree": "Other",
    "percent": 4,
    "description": "all other college majors"
  }
]
function womenPerTeam() {
 return  [ 
    {
      key: "Women per team",
      values: [
  {
    "label":"1-9",
    "percent": 20
  },
  {
    "label": "10-24",
    "percent": 15
  },
  {
    "label": "15-49",
    "percent": 13
  },
  {
    "label": "50-99",
    "percent": 15
  },
  {
    "label": "100+",
    "percent": 10
    },
      ]
    }
  ]
}

function womenQuitting() {
  return [
  {
    key: "women quitting",
    values: [
      {
        "label": "Science",
        "percent": 47
      },
      {
        "label": "Engineering",
        "percent": 39
      },
      {
        "label": "Technology",
        "percent": 56
      }
    ]

  }
  ]
}
</script>

  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>